@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.content__main {
	color: #000000;
}

.content__text {
	mix-blend-mode: screen;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.1;	
	font-size: 7vmax;
	font-family: 'Unica One', monospace;	
	color: transparent;
	/* -webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #00ffff; */
	text-shadow: 0px 0px 15px #009c9c;
	white-space: nowrap;
}



