@import url('https://fonts.googleapis.com/css?family=Lato');
body {
	margin: 0;
	font-size: 18px;
}

.page-wrapper {
  display: block;
  width: 100%;
  font-family: 'Unica One', sans-serif;
  position: relative;
}


#video-cover{
	box-shadow:0px 0px 5px #4a4a4ac1;
}

@media (min-width: 700px) {
	.page-wrapper {
		display: flex;
	}
}

aside {
	background-color: #222;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0 40px;
}

@media (min-width: 700px) {
	aside {
		background-color: #040707;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		width: 50%;
		flex: 0 0 50%;
		padding: 0;
	}
}

h1,
.flourish {
	font-size: 6vw;
	margin: 10px 0;
	text-align: center;
}

@media (min-width: 700px) {
	h1,
  .flourish {
		font-size: 4.5vw;
		margin: 20px 0;
		padding: 0 20px;
	}
}

h1 {
	letter-spacing: 10px;
	text-transform: uppercase;
	text-shadow: 0px 0px 15px #009c9c;
}

.flourish {
	font-weight: bold;
}

.bio {
	margin: 0 20px;
}

@media (min-width: 1100px) {
	.bio {
		margin: 0 100px;
		text-align: center;
		line-height: 1.7;
	}
}

article {
	margin: 0;
}

@media (min-width: 700px) {
	article {
		flex: 0 0 50%;
		margin-left: 50%;
		padding-top: 30px;
	}
}

.author
{
	text-transform: uppercase;
	font-size: .7em;
	letter-spacing: 1px;
	color: #777;
	padding: 0 20px;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.author span{
	color: rgba(0, 0, 0, 0.4);
	text-transform: capitalize;
}

@media (min-width: 700px) {
	.author{
		padding: 0 60px;
	}
}

.image img {
	width: 100%;
	margin: 20px 0;
}

.text {
	font-family: 'Lato', sans-serif;
	text-align: left;
	margin: 0 50px 100px 50px;
}

@media (min-width: 1100px) {
	.text {
		padding: 0 60px;
	}
}

footer {
	height: 40px;
}
/* video */
.wrapper {
	position:relative;
	max-width:100% ;
}

.wrapper img {
	max-width:100%;
	height:auto;
}

.wrapper iframe {
  display:none;
  max-width:100%;
}

.play-btn {
	position:absolute;
	z-index:666;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background-color:transparent;
	border:0;
}

.play-btn:hover {
	cursor:pointer;
}

.play-btn:focus {
	outline:0;
}

.button_container {
    top: 4%;
    left: 2%;
    width: 60px;
    height: 60px;
	position: fixed;
    cursor: pointer;
    z-index: 999;
  }

  #dot_beside{
	top: 45%;
    left: 9%;
    width: 15px;
	height: 60px;
	border-bottom: 2px solid #00ffff;
	border-left: 2px solid #00ffff;
  }
  
  .name_container {
	  font-family: 'Unica One', sans-serif;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #menu_name {
    position: absolute;
    left: 52%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Unica One', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    -webkit-transition: all .25s ease;
    tranisition: all .25s ease;
  }
  

  #open_name {
    position: absolute;
    left: 12%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    font-family: 'Unica One', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    -webkit-transition: all .25s ease;
    tranisition: all .25s ease;
  }
  
  .button_container:hover #menu_name {
    left: 75%;
    opacity: 0;
  }
  
  .button_container:hover #open_name {
    left: 52%;
    opacity: 1;
  }
  
  #line_one,
  #line_two {
    width: 0px;
    height: 2px;
    background: #ff00ff;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  
  #line_one {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-tranisition: all .5s ease;
    transition: all .5s ease;
  }
  
  #line_two {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-tranisition: all .5s .5s ease;
    transition: all .5s .5s ease;
  }
  
  .button_container.active #line_one {
    width: 40px;
    opacity: 1;
  }
  
  .button_container.active #line_two {
    width: 40px;
    opacity: 1;
  }
  
  .button_container.active .name_container {
    opacity: 0;
  }
  
  
  .menu {

    width: 150px;
    height: 50vh;
    position: fixed;
    left: 0%;
    -webkit-transform: translate(0%, 50%);
    transform: translate(0%, 50%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .menu nav {
    position: fixed;
    top: -4%;
    width: inherit;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  
  .menu nav a {
    color: white;
    text-decoration: none;
   	font-family: 'Unica One', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 40px;
    margin-right: 20px;
    text-align: left;
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
  }
  
  .menu nav a:after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    width: 0;
    height: 2px;
    margin-top: -0.6em;
    background: #00ffff;
    transform-origin: center left;
    transition: width 0.5s ease;
  }
  
  .menu nav a:hover:after {
    width: 120px;
  }
  
  .menu.open {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  
  .menu.open a {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  
  .menu.open a:nth-of-type(2) {
    -webkit-transition-delay: .3s;
    transition-delay: .4s;
  }
  
  .menu.open a:nth-of-type(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .5s;
  }
  
  .menu.open a:nth-of-type(4) {
    -webkit-transition-delay: .3s;
    transition-delay: .6s;
  }
  
  .menu.open a:nth-of-type(5) {
    -webkit-transition-delay: .3s;
    transition-delay: .7s;
  }
  
  .menu .open {
    width: 150px;
  }
  
  .icon_container {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: inherit;
    text-align: right;
    padding: 20px;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }
  
  .icon_container i {
    color: #fff;
    cursor: pointer;
    padding: 10px;
  }
  
  .menu.open .icon_container {
    opacity: 1;
    -webkit-transition-delay: .7s;
    transition-dealy: .7s;
  }
  .back_to_home{
    opacity: 0;
  }

  .back_to_home a:link {
    text-decoration: none;
    color: #000000;
  }
  
  .back_to_home a:visited {
    text-decoration: none;
    color: #000000;
  }
  
  .back_to_home a:hover {
    text-decoration: none;
    color: #00ffff;
  }
  
  .back_to_home a:active {
    text-decoration: none;
    color: #ff00ff;
  }

  @media screen and (max-width: 700px) {
  
    .button_container {
      display: none;
    }
    .menu {
      display: none;
    }
    .back_to_home{
      opacity: 1;
      margin-left: 12vw;
    }
    .back_to_home #view_next{
      margin-left: 40vw;
    }
  }